user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid {{ nginx_pid }};
include {{ nginx_modules_dir }}/*.conf;

{{ nginx_extra_conf_options }}

events {
    worker_connections {{ nginx_events_worker_connections }};
    multi_accept {{ nginx_multi_accept }};
}

{% if nginx_streams is defined %}
stream {
{% if nginx_streams.maps is defined %}
{% for map in nginx_streams.maps %}

    map {{ map.source }} {{ map.dest }} {
{% for entry in map.entries %}
        {{ entry }};
{% endfor %}
    }
{% endfor %}
{% endif %}
{% if nginx_streams.upstreams is defined %}
{% for upstream in nginx_streams.upstreams %}

    upstream {{ upstream.source }} {
        server {{ upstream.dest }};
    }
{% endfor %}
{% endif %}
{% if nginx_streams.servers is defined %}
{% for server in nginx_streams.servers %}

    server {
        listen {{ server.listen }};
        ssl_preread {{ server.ssl_preread }};
        proxy_pass {{ server.proxy_pass }};
    }
{% endfor %}
{% endif %}
}
{% endif %}

http {

    ##
    # Basic Settings
    ##

    sendfile {{ nginx_http_sendfile }};
    tcp_nopush {{ nginx_http_tcp_nopush }};
    tcp_nodelay {{ nginx_http_tcp_nodelay }};
    keepalive_timeout {{ nginx_http_keepalive_timeout }};
    types_hash_max_size {{ nginx_http_types_hash_max_size }};
    server_tokens {{ nginx_http_server_tokens }};

    server_names_hash_bucket_size 64;
    server_name_in_redirect off;

    include {{ nginx_mime_types }};
    default_type {{ nginx_http_default_type }};

    ##
    # SSL Settings
    ##

    ssl_protocols {{ nginx_http_ssl_protocols }}; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers {{ nginx_http_ssl_prefer_server_ciphers }};
    ssl_ciphers {{ nginx_http_ssl_ciphers }};
    ssl_session_cache {{ nginx_http_ssl_session_cache }};

    ssl_stapling {{ nginx_http_ssl_stapling }};
    resolver {{ nginx_http_resolver }};
    resolver_timeout {{ nginx_resolver_timeout }};

    ##
    # Logging Settings
    ##

    access_log {{ nginx_http_access_log }};
    error_log {{ nginx_http_error_log }};

    ##
    # Gzip Settings
    ##

    gzip {{ nginx_http_gzip }};
    gzip_disable {{ nginx_http_gzip_disable }};

    # gzip_vary on;
    # gzip_proxied any;
    # gzip_comp_level 6;
    # gzip_buffers 16 8k;
    # gzip_http_version 1.1;
    # gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

{{ nginx_extra_http_options }}
{% if nginx_cors_enabled %}

    ##
    # CORS config
    ##

    # Map the allowed frontend CORS origins to the $allowed_origin variable
    map $http_origin $allowed_origin {
{% if nginx_cors.allowed_origins is defined %}
{% for origin in nginx_cors.allowed_origins %}
        "{{ origin }}" "$http_origin";
{% endfor %}
{% endif %}
        default "";
    }
{% endif %}

    ##
    # Virtual Host Configs
    ##

    include {{ nginx_conf_dir }}/*.conf;
    include {{ nginx_vhost_dir }}/*;
}
