{% if item.redirect is defined %}
server {
    listen {{ item.redirect.listen }};
    server_name {{ item.redirect.server_name }};
    location / {
        return 301 {{ item.redirect.target }}$request_uri;
    }
}
{% endif %}

server {
    listen {{ item.listen }};
    server_name {{ item.server_name }};

{% if item.sets is defined %}
{% for set_entry in item.sets %}
    set {{ set_entry }};
{% endfor %}
{% endif %}
{% if item.ssl is defined %}
    ssl_certificate {{ item.ssl.cert }};
    ssl_certificate_key {{ item.ssl.key }};
{% endif %}

{% if item.access_log is defined %}
    access_log {{ item.access_log }};
{% endif %}
{% if item.error_log is defined %}
    error_log {{ item.error_log }};
{% endif %}

{% if item.root is defined %}
    root {{ item.root }};

{% endif %}
{% if item.try_files is defined %}
    try_files {{ item.try_files }};
{% endif %}
{% if item.index is defined %}
    index {{ item.index }};
{% endif %}

{% if item.locations is defined %}
{% for entry in item.locations %}
    location {{ entry.location }} {
{% if entry.try_files is defined %}
        try_files {{ entry.try_files }};
{% endif %}
{% if entry.fastcgi is defined %}
{% if entry.fastcgi.pass is defined %}
        fastcgi_pass {{ entry.fastcgi.pass }};
{% endif %}
{% if entry.fastcgi.index is defined %}
        fastcgi_index {{ entry.fastcgi.index }};
{% endif %}
{% if entry.fastcgi.include_conf is defined %}
        include {{ entry.fastcgi.include_conf }};
{% endif %}
{% endif %}
{% if entry.additional_conf is defined %}
        {{ entry.additional_conf }}
{% endif %}
    }
{% endfor %}
{% if item.additional_conf is defined %}

    {{ item.additional_conf }}
{% endif %}
{% endif %}
}
